body {
    background-color: white;
}

h1, h2 {
    font-family: "DM Serif Display", sans-serif;
    margin-top: 1rem;
}

p {
    font-family: sans-serif;
}

#p0 {
    margin-top: 5rem;
}

#p1 {
    font-size: 1.5rem;
    margin-bottom: 0;
}

#h-1 {
    margin-top: auto;
}

.h2btmmargin > h2 {
    margin-bottom: 1rem;
}

.textgif-meme > p {
    text-align: center;
    font-size: x-large;
    margin: 0;
}

.textgif-meme img {
    width: 100%;
    height: auto;
}

.features-images img {
    max-width: 100%;
    width: 100%;
    height: auto;
    text-align: center;
    aspect-ratio: 2/3;
    position: relative;
    margin: 1rem auto;
}

.features-videos iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    position: relative;
    margin: 1rem auto;
}

.highlighted {
    box-shadow: 0 0 20px red;
}

@media (min-width: 768px) {
    .fixedbottom {
        position: fixed;
        bottom: 0;
    }
    
    .textgif-meme img {
        width: 25%;
        height: auto;
    }

    .textgif-img {
        display: flex;
        justify-content: center;
    }

    .features-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
}

#backto-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#backto-top-btn:hover {
    background-color: #0056b3;
}